<div class="container">
  <br />
  <div class="row g-2">
    <div class="col-md-2">
      <input
        class="form-control"
        [(ngModel)]="username"
        placeholder="Type your name"
      />
    </div>

    <div class="col-md-3">
      <input
        class="form-control"
        [(ngModel)]="message"
        placeholder="Type your message"
      />
    </div>
    <div class="col-md-2">
      <button
        class="btn btn-primary col-12"
        (click)="sendMessage()"
        [disabled]="this.username.length * this.message.length === 0"
      >
        <i class="bi bi-send"></i> Send
      </button>
    </div>

    <div class="col-md-2">
      <button
        class="btn col-12"
        [class.btn-primary]="online"
        [class.btn-danger]="!online"
        type="button"
        [title]="online ? 'Stable connection' : 'Reconnecting...'"
      >
        <span
          *ngIf="!online"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        >
        </span>
        <span *ngIf="!online"> Connecting... </span>
        <span *ngIf="online"
          ><i class="bi bi-reception-4"></i> Online ({{ onlineUsers }})
          {{ currentRoomId ? "(" + currentRoomId + ")" : "" }}</span
        >
      </button>
    </div>

    <div class="col-md-2">
      <button
        class="btn btn-primary col-12"
        (click)="joinRoom()"
        *ngIf="currentRoomId === ''"
      >
        <i class="bi bi-door-closed-fill"></i>
        Join room
      </button>
      <button
        class="btn btn-primary col-12"
        (click)="leaveRoom()"
        *ngIf="currentRoomId !== ''"
      >
        <i class="bi bi-door-closed-fill"></i>
        Leave room
      </button>
    </div>

    <div class="col-md-1">
      <input class="form-control" [(ngModel)]="roomId" placeholder="Room id" />
    </div>
  </div>

  <br />

  <div class="row g-2">
    <div class="card" *ngFor="let message of messages">
      <div class="card-body row">
        <div class="row">
          <h4 class="col-10">
            {{ message.username }}
          </h4>
          <div class="col-2">{{ message.date | date : "HH:mm" }}</div>

          <hr />
          <h5 class="p-3">{{ message.message }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
